* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    /* width: 1440px; */
    padding: 0;
    background-color: #FFFEFE;
    font-size: 16px;
    /* margin: 0 auto; */
    font-weight: 400;
    color: #2F281E;
    /* height: 100vh; */
    font-family: "Poppins", "Rubik", -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Helvetica Neue", Arial, sans-serif,
     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     overflow-x : hidden;
}


.navbar {
    max-width: 100%;
    background-color: hsla(236, 79%, 69%, 0.05);
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    z-index: 1000;
    
   
    
    top: 0;
    width: 100%;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo img {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 0 90px;
  }
  .nav_links {
    display: flex;
    align-items: end;
    gap: 10px;
  }
  .nav_links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding:  0 10px;
    align-items: flex-end;
    gap: 15px;
    justify-content: flex-end;
  }
.nav_links ul li a {
    font-weight: 400;
    color: #2F281E;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding-left: 0 40px;
    
   
}
.nav_links ul li a:hover{
    color: #ff9900;
}

.nav_btns {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 5px 85px;
}

.hamburger {
    font-size: 30px;           
    cursor: pointer;        
    display: none;            
}

.btn {
    display: inline-block;
    border-color: #0056b3; 
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #567592;
    border-radius: 5px;
    background-color: transparent;
    user-select: none;
    color: #0056b3;
    padding: 10px 26px;
    text-decoration: none;
    transition: background-color 0.3s ease,border-color 0.3s ease;
    
}
.btn:focus {
    border-radius: 0.25rem;     
    outline: none;
    box-shadow: 0 0 5px 2px rgba(255, 153, 0, 0.31);
    border-color: #ff9900;
}
.btn1 {
    padding: 12px 26px;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f90;
    color: #FFFEFE;
    text-decoration: none;
    
}
.btn1:hover {
    background-color:  hsla(36, 100%, 50%, 0.5); 
       
}

section.one {
    padding: 50px;
    margin-top: 290px;
    background-color: #FFFEFE;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
    position:absolute;
    align-items: center;
    justify-content: center; 
    text-align: left;  
    
}

section.one h1 {
    font-size: 45px;
    /* margin-right :55%; */
    color: rgb(26, 24, 24);
    font-weight: 700;
    line-height: 1;  
    /* margin-top: -100px; */
    /* text-align: left; */
    
}

section.one p {
    font-size: 18px;
    color: #544837;
    /* margin-left: 3%; */
    /* padding: 20px; */
    /* margin-top: 20px; */
    

    
}
section.one .btn2 {
    padding: 20px 50px;
    border-radius: 5px;
    background-color: #f90;
    border: none;
    font-size: 18px;
    color: #FFFEFE;
    margin-left: 4%;
}
section.one img {
    display: flex;
    margin-left: 50%;
    position: relative;
    top: -370px;
    width: 545px;
    height: 445px;
}

section.one .btn3 {
    padding: 15px 50px;
    outline: none;
    border: 0;
    background-color: #FFFEFE;
    color: #f90;
    cursor: pointer;
    font-size: 18px;
}
section.one .btn3 {
  background-color: #FFFEFE;
}
.bigg {
    padding: 50px;
    margin-top: 650px;
    background-color: #FFFEFE;
    position:absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 10px;
    text-align: left;
    font-weight: 500;
    flex-direction: column;
}
.bigg h1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
}
.bigg .big {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    gap: 20px;
}
.bigg .big .icon11 {
    padding: 20px;
}
.bigg .big .icon22 {
    padding: 20px;
}
.bigg .big .icon33 {
    padding: 20px;
}
.bigg .big .icon44 {
    padding: 20px;
}
.bigg .btn4 {
    padding: 15px 25px;
    border: none;
    background-color: #ff9900;
    color: #fffefe;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 37%;
    
    
}
.bigg .btn4 {
  background-color: #e68900;
}

.big1 {
    padding: 50px;
    margin-top: 1200px;
    background-color: #FFFEFE;
    position:absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 10px;
    text-align: left;
    font-weight: 500;
    flex-direction: row;
   
}
.big1 .texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1;
    margin: auto;
    padding: 35px;

}
.big1 img {
    display: flex;
    margin-left: 50%;
    position: relative;
    width: 545px;
    top: -520px;
    height:550px;
}
.big1 .texts p {
    line-height: 1.3;
    font-size: 18px;
    font-weight: 500;
}
.big2 {
    padding: 50px;
    margin-top: 1900px;
    background-color: #FFFEFE;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 10px;
    text-align: left;
    font-weight: 500;
    flex-direction: row;
}
.big2 .texts2 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 1;
    margin: auto;
    padding: 30px;
    line-height: 1.3;
    font-size: 17px;
    margin-left: 50%;
    
}
.big2 .immg img {
    top: -420px;
    display: flex;
    margin-right: 60%;
    position: relative;
    
    
}
.big2 .texts2 .tt1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.big2 .texts2 .tt2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.big2 .texts2 .tt3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}

.big3 {
    padding: 60px;
    margin-top: 2550px;
    background-color: #FFFEFE;
    position:absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 10px;
    text-align: left;
    font-weight: 500;
    flex-direction: row;
}
.big3 .texts3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1;
    margin: auto;
    padding: 40px;

}
.big3 img {
    display: flex;
    margin-left: 50%;
    position: relative;
    top: 100px;
    width: 545px;
    height: 445px;
    top: -500px;
    height: 550px;
}
.big3 .texts3 p {
    line-height: 1.3;
    font-size: 18px;
    font-weight: 500;
}
.big4 {
    padding: 50px;
    margin-top: 3300px;
    background-color: #FFFEFE;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 20px;
    text-align: left;
    font-weight: 500;
    flex-direction: column;
    display: flex;
}
.big4 .btn5 {
    padding: 18px 45px;
    border-radius: 5px;
    background-color: #f90;
    border: none;
    font-size: 18px;
    color: #FFFEFE;
    cursor: pointer;
}
.big4 .btn5 {
  background-color: #e68900;
}
.big4 h1 {
    font-weight: 700;
    font-size: 45px;

}
.big4 p {
    color: #567592;
    font-size: 18px;
}
.big5 {
    padding: 30px;
    margin-top: 3700px;
    background-color: #FFFEFE;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 20px;
    text-align: left;
    font-weight: 500;
    flex-direction: column;
    display: flex;
}

.big5 .mm {
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 40px;
    justify-content: space-between;
    width: 80%;
}
.big5 h1 {
    align-items: flex-start;
}
.big5 p {
    text-align: left;
    justify-content: flex-start;
    display: flex;
    color: #544837;
    font-weight: 400;
}
.big5 .mm strong {
    padding: 0px 3px;
}
.big6 { 
  padding: 10px 20px ;
  position: absolute;
  margin-top: 4250px;
  background-color: #FFFEFE;
  width: 100%;
  z-index: 0;
  gap: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pt1 {
    display: flex;
    align-items: center;
    margin-bottom: 140px;
  }
  
  .pt1 img {
    height: 31px;
  }
  .pt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    line-height: 1.5;
    font-weight: 500;
    text-align: start;
    font-size: 20px;
    text-align: left;
  }
  .pt2 p {
    font-size: 25px;
    white-space: nowrap;
  }
  
  .pt3 p {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .pt2 .big6_links,
  .pt3 .big6_link {
    list-style: none;
  }
  
  .pt2 .big6_links li a,
  .pt3 .big6_link li a {
    text-decoration: none;
    color: #2f281e;
    font-size: 20px;
    font-weight: 350;
    margin-right: 45px;
    white-space: nowrap;
  }
  
  .pt2 .big6_links li a:hover,
  .pt3 .big6_link li a:hover {
    color: #f90;
  }
  .pt4 p {
    text-align: left;
    font-size: 22px;
    margin-bottom: 10px;
    white-space: nowrap;
  }
  
  .pt4 .form-inline {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
  }
  
  .form-control {
    padding: 16px 20px;
    width: 260px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  .form-control:focus {
    outline: none;
    border-color: #ff9900;
    box-shadow: 0 0 5px 2px rgba(255, 153, 0, 0.31);
  }
  
  .form-control::placeholder {
    color: #567592;
    font-size: 15px;
  }
  .hr1 {
    border: 0;
    margin-top: 4200px;
    height: 1px;
    background: #e0e0e0;
    position: absolute;
    width: 93%;
    left: 1%;
    
  }
  .hr2 {
    border: 0;
    height: 1px;
    background: #e0e0e0;
    margin-top: 4550px;
    position: absolute;
    width: 93%;
    left: 5px;
  }
  
  .btn6 {
    background-color: #ff9900;
    color: var(--bs-white);
    border: none;
    padding: 6px 20px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    color: #fffefe;
  }
  .btn6 a {
    text-decoration: none;
    color: #fffefe;
  }
  
  .btn6:hover {
    background-color: #e68900;
  }
  
  
  
  .big7 {
    margin-top: 4600px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    font-weight: 400;
    padding: 10px 60px;
    justify-content: space-between;
    position: absolute;
  }
  .big7-text {
    font-size: 20px;
  }
  
  .big7-link {
    font-size: 20px;
  }
  
  .big7-link a {
    text-decoration: none;
    color: #2f281e;
    font-weight: 400;
    font-size: 20px;
    margin-left: 5px;
  }
  
  .big7-link a:hover {
    color: #f90;
    text-decoration: none;
  }

  /*Mobile Phone Screens*/
  @media (min-width: 320px) and (max-width: 480px) {
    body {
        color: #2f281e;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        font-size: 26px;
        /* background-color: yellow; */
    }
    
    .navbar {
        align-items: center;
        display: flex;
        width: 100%;
        position: fixed;
    }
    .nav_links, .nav_btns {
      display: none;
    }
    .hamburger {
      display: block;
    }
    section.one {
        width: 100%;
        /* background-color: red; */
        padding: 2rem;
          
    }
  
    section.one p {
        width: 100%;
        font-size: 1rem;
        text-align: center;
        
    }
    section.one img {
      top: 5px;
      height: 100%;
      width: 100%;
      right: 50%;
    }

    section.one .btn2 {
      width: 60%;
      
    }

    .bigg {
      margin-top: 900px;
      width: 100%;
    }
    .bigg h1 {
      text-align: center;
      width: 100%;
      font-size: 2rem;
    }
    .bigg .big {
      display: flex;
      width: 80%;
      flex-direction: column;
    }
    .bigg .big p {
      width: 100%;
      font-size: 1rem;

    }
    .bigg .btn4 {
      width: 50%;
      right:30%;

    }
    .big1 {
      margin-top: 2250px;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .big1 img {
      width: 100%;
      top: 5px;
      height: 100%;
      right: 20%;
    }
    .big1 h1 {
      text-align: left;
      font-size: 2rem;
      width: 100%;
    }
    .big1 h3 {
      text-align: left;
      font-size: 1.2rem;
      width: 100%;
    }
    .big1 p {
      text-align: left;
      font-size: 1rem;
      width: 100%;
    }
    .big2 {
      margin-top: 3500px;
      display: flex;
      flex-direction: column;
      width: 100%;
      right: 25%;
    }
    .big2 h1 {
      width: 100%;
      font-size: 2rem;
    }
    .big2 h3 {
      width: 80%;
      font-size: 1.1rem;
    }
    .big2 p {
      width: 100%;
      font-size: 1rem;
    }
    .big2 .texts2 {
      width: 100%;
      left: 10%;
      
    }
    .big2 .immg img {
      top: 17px;
      margin-right: 60%;
      width: 100%;
      height: 100%;
      
      
  }
    .big3 {
      margin-top: 4900px;
      width: 100%;
    
    }
    .big3 img {
      margin-left: 15%;
      top: 18px;
      width: 100%;
      height: 100%;

    }
    .big3 .texts3 {
      width: 100%;

    }
    .big3 .texts3 p {
      width: 100%;
      font-size: 1rem;
    }
    .big3 .texts3 h1 {
      width: 100%;
      font-size: 2rem;
    }
    .big3 .texts3 h1 {
      width: 100%;
      font-size: 1.2rem;
    }
    .big4 {
      margin-top: 6250px;
      width: 100%;
    }
    .big4 h1 {
      width: 100%;
      font-size: 2rem;
  }
  .big4 .btn5 {
    width: 100%;
  }
    .big4 p {
      width: 100%;
      font-size: 1rem;
    }
    .big5 {
      margin-top: 6600px;
      display: flex;
      flex-direction: column;
    }
    .big5 .mm {
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 1rem;
      justify-content: space-between;
    }
    .big5 .mm .m1 img {
      height: 100%;
      width: 100%;
    }
    .big5 .mm .m2 img {
      height: 100%;
      width: 100%;
    }
    .big5 .mm .m3 img {
      height: 100%;
      width: 100%;
    }
    .big5 h1 {
      width: 100%;
      font-size: 2rem;
  }
  .big5 p {
    width: 100%;
    font-size: 1.1rem;
}
    .big6 {
      margin-top: 7800px;
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
    .big7 {
      margin-top: 8800px;
      display: flex;
      flex-direction: column;
    }
    .hr1 {
      width: 90%;
      margin-top: 7750px;
      left: 10px;
    }
    .hr2 {
      width: 90%;
      margin-top: 8750px;
      left: 10px;
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    body {
      color: #2f281e;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      font-size: 2rem;
    }
    .navbar {
      align-items: center;
      display: flex;
      width: 100%;
      position: fixed;
    }
     .nav_links, .nav_btns {
      display: none;
    }
    .hamburger {
     display: block;
    }
    section.one {
      width: 100%;
      margin-top: 150px;
      padding: 2rem;
    }
  section.one h1 {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    padding: 20px;
   }
 section.one img {
  height: 90%;
  width: 90%;
  right: 50%;
  top: -5px;
}

section.one .btn2 {
  width: 45%;
  padding: 10px 20px;
}
section.one p {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
  
}
section.one .btn3 {
  width: 45%;
  padding: 10px 20px;
}
.bigg {
  margin-top: 1000px;
  width: 100%;
}
.bigg h1 {
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
}
.bigg .big {
  display: grid;
  width: 80%;
 grid-template-columns: repeat(2, 1fr);
}
.bigg .btn4 {
  width: 50%;
  right:25%;

}
.big1 {
  margin-top: 2000px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.big1 img {
  width: 90%;
  top: -15px;
  height: 90%;
  right: 20%;
 
}

.big1 h1 {
  text-align: left;
  font-size: 2.2rem;
  width: 100%;
}
.big1 h3 {
  text-align: left;
  font-size: 1.3rem;
  width: 100%;
}
.big1 p {
  text-align: left;
  font-size: 1.1rem;
  width: 100%;
}
.big2 {
  margin-top: 3200px;
  display: flex;
  flex-direction: column;
  width: 100%;
  right: 40%;
}

.big2 h1 {
  width: 100%;
  font-size: 2rem;
}
.big2 h3 {
  width: 80%;
  font-size: 1.1rem;
}
.big2 p {
  width: 100%;
  font-size: 1rem;
}
.big2 .texts2 {
  width: 100%;
  ;
}
.big2 .immg img {
  top: -17px;
  margin-left:60%;
  width: 90%;
  height: 90%;
  
}
.big3 {
  margin-top: 4150px;
  width: 100%;

}
.big3 img {
  margin-left: 15%;
  top: -18px;
  width: 90%;
  height: 90%;

}
.big3 .texts3 {
  width: 100%;

}
.big3 .texts3 p {
  width: 100%;
  font-size: 1.1rem;
}
.big3 .texts3 h1 {
  width: 100%;
  font-size: 2.2rem;
}
.big3 .texts3 h1 {
  width: 100%;
  font-size: 1.4rem;
}
.big4 {
  margin-top: 5450px;
  width: 100%;
}
.big4 h1 {
  width: 100%;
  font-size: 2.5rem;
}
.big4 .btn5 {
width: 70%;
}
.big4 p {
  width: 100%;
  font-size: 1.1rem;
}

.big5 {
  margin-top: 5750px;
  display: flex;
  flex-direction: column;
}
.big5 .mm {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  justify-content: space-between;
}
.big5 .mm .m1 img {
  height: 90%;
  width: 90%;
}
.big5 .mm .m2 img {
  height: 90%;
  width: 90%;
}
.big5 .mm .m3 img {
  height: 90%;
  width: 90%;
}
.big5 h1 {
  width: 100%;
  font-size: 2.3rem;
}
.big5 p {
width: 100%;
font-size: 1.2rem;
}
.big6 {
  margin-top: 7350px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.big7 {
  margin-top: 8400px;
  display: flex;
  flex-direction: column;
}
.hr1 {
  width: 90%;
  margin-top: 7200px;
  left: 10px;
}
.hr2 {
  width: 90%;
  margin-top: 8350px;
  left: 10px;
}
  }
  