* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    background-color: #FFFEFE;
    font-size: 16px;
    padding: 0;
    font-weight: 400;
    color: #2F281E;
    line-height: 1.5;
    height: 100vw;
    font-family: "Poppins", "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

nav {
    width: 100%; 
    padding: 15px;
    background-color: hsla(236, 79%, 69%, 0.05);
    position: fixed;
    backdrop-filter: blur(10px);
    isolation: isolate;
    z-index: 5;   
    display: flex;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    
   
}
.nav_links a {
    font-weight: 400;
    white-space: nowrap;
    color: #2F281E;
}
.nav_links a:hover{
    color: #f90;
}

.nav_btns {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    gap: 20px;
    flex:1;

}
nav img {
    height: 30px;
    display: flex;
    justify-content: flex-start;
}

.nav_links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
    flex-direction: row;
    transition: transform 0.5s;
    
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    
}
.hamburger {
    font-size: 30px;           
    cursor: pointer;        
    display: none;            
}

.nav_btns {
    display: flex;
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-color: #0056b3; 
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #567592;
    border-radius: 5px;
    background-color: transparent;
    user-select: none;
    color: #0056b3;
    transition: background-color 0.3s ease,border-color 0.3s ease;
    
}
.btn:focus {
    border-radius: 0.25rem;     
    outline: none;
    box-shadow: 0 0 5px 2px rgba(255, 153, 0, 0.31);
    border-color: #ff9900;
}
.btn1 {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f90;
    color: #FFFEFE;
    
}
.btn1:hover {
    background-color:  hsla(36, 100%, 50%, 0.5); 
       
}

section.one {
    padding: 50px;
    margin-top: 290px;
    background-color: #FFFEFE;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    position:absolute;
    align-items: center;
    justify-content: center; 
    text-align: left;  
    
}

section.one h1 {
    font-size: 45px;
    margin-right :55%;
    color: rgb(26, 24, 24);
    font-weight: 700;
    line-height: 1;  
    margin-top: -100px;
    text-align: left;
    
}

section.one p {
    font-size: 18px;
    color: #544837;
    margin-left: 3%;
    padding: 20px;
    margin-top: 20px;
    

    
}
section.one .btn2 {
    padding: 20px 50px;
    border-radius: 5px;
    background-color: #f90;
    border: none;
    font-size: 18px;
    color: #FFFEFE;
    margin-left: 4%;
}
section.one img {
    display: flex;
    margin-left: 50%;
    position: relative;
    top: -370px;
    width: 545px;
    height: 445px;
}

section.one .btn3 {
    padding: 15px 50px;
    outline: none;
    border: 0;
    background-color: #FFFEFE;
    color: #f90;
    font-size: 18px;
}

section {
    padding: 50px;
    margin-top: 650px;
    background-color: #FFFEFE;
    position:absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 10px;
    text-align: left;
    font-weight: 500;
    flex-direction: column;
}
section h1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
}
section .big {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    gap: 20px;
}
section .big .icon11 {
    padding: 20px;
}
section .big .icon22 {
    padding: 20px;
}
section .big .icon33 {
    padding: 20px;
}
section .big .icon44 {
    padding: 20px;
}
section .btn4 {
    padding: 15px 25px;
    border: none;
    background-color: #f90;
    color: #FFFEFE;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 400;
    
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 37%;
    
    
}

.big1 {
    padding: 50px;
    margin-top: 1200px;
    background-color: #FFFEFE;
    position:absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 10px;
    text-align: left;
    font-weight: 500;
    flex-direction: row;
   
}
.big1 .texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1;
    margin: auto;
    padding: 35px;

}
.big1 img {
    display: flex;
    margin-left: 50%;
    position: relative;
    width: 545px;
    height: 445px;
    top: -520px;
    height:550px;
}
.big1 .texts p {
    line-height: 1.3;
    font-size: 18px;
    font-weight: 500;
}
.big2 {
    padding: 50px;
    margin-top: 1900px;
    background-color: #FFFEFE;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 10px;
    text-align: left;
    font-weight: 500;
    flex-direction: row;
}
.big2 .texts2 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 1;
    margin: auto;
    padding: 30px;
    line-height: 1.3;
    font-size: 17px;
    margin-left: 50%;
    
}
.big2 .immg img {
    top: -420px;
    display: flex;
    margin-right: 60%;
    position: relative;
    
    
}
.big2 .texts2 .tt1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.big2 .texts2 .tt2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.big2 .texts2 .tt3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}

.big3 {
    padding: 60px;
    margin-top: 2550px;
    background-color: #FFFEFE;
    position:absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 10px;
    text-align: left;
    font-weight: 500;
    flex-direction: row;
}
.big3 .texts3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1;
    margin: auto;
    padding: 40px;

}
.big3 img {
    display: flex;
    margin-left: 50%;
    position: relative;
    top: 100px;
    width: 545px;
    height: 445px;
    top: -500px;
    height: 550px;
}
.big3 .texts3 p {
    line-height: 1.3;
    font-size: 18px;
    font-weight: 500;
}
.big4 {
    padding: 50px;
    margin-top: 3500px;
    background-color: #FFFEFE;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 20px;
    text-align: left;
    font-weight: 500;
    flex-direction: column;
    display: flex;
}
.big4 .btn5 {
    padding: 18px 45px;
    border-radius: 5px;
    background-color: #f90;
    border: none;
    font-size: 18px;
    color: #FFFEFE;
}
.big4 h1 {
    font-weight: 700;
    font-size: 45px;

}
.big4 p {
    color: #567592;
    font-size: 18px;
}
.big5 {
    padding: 30px;
    margin-top: 3900px;
    background-color: #FFFEFE;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    line-height: 1.5;
    gap: 20px;
    text-align: left;
    font-weight: 500;
    flex-direction: column;
    display: flex;
}
.big5 .mm {
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 40px;
    justify-content: space-between;
    width: 80%;
}
.big5 h1 {
    align-items: flex-start;
}
.big5 p {
    text-align: left;
    justify-content: flex-start;
    display: flex;
    color: #544837;
    font-weight: 400;
}
.big5 .mm strong {
    padding: 0px 3px;
}
.big6 { 
    padding: 20px;
    margin-top: 120px;
    background-color: #FFFEFE;
    
    width: 80%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
   
}



.big6  .btn6 {
    padding: 8px 15px;
    border: none;
    background-color: #f90;
    color: #FFFEFE;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 400;
}
.big6  .pt4 .form .form-inline {
    padding: 15px 30px;
    border-radius: 5px solid #A1B0FC;
    font-size: 16px;
    
}
.big6 .pt4 .form .form-inline:focus {
    cursor: pointer;
    
}
.big6  .pt4 p {
    font-size: 18px;
} 

.big6  .pt3 {
    display:  flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10%;
    flex-direction: column;
    line-height: 1.5;
    font-weight: 500;
    text-align: start;
    font-size: 20px;
    text-align: left;
    

    
}
.big6  .pt2 {
    display:  flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10%;
    flex-direction: column;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    white-space: nowrap;
    text-align: left;
}

.big6_links, 
.big6_link{
    text-align: left;
}

.big6 .pt4 {
    display:  flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10%;
    flex-direction: column;
}



.big6 .pt2 .big6_links {
    
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
   
}

.big6 .pt3 .big6_link {
   
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
    
}

.big6  .big6_links a {
    font-weight: 400;
    white-space: nowrap;
    color: #2F281E;
    font-size: 16px;
    line-height: 1.0;
}
.big6 .big6_links a:hover{
    color: #f90;
}
.big6  .big6_link a {
    font-weight: 400;
    white-space: nowrap;
    color: #2F281E;
    font-size: 16px;
    text-align: left;
}
.big6  .big_link a:hover{
    color: #f90;
}
.big7  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    align-items: flex-start;
    gap: 30%;
    font-weight: 400;
    padding: 0;
    
}

hr{
   
    width: 80%;
    
}


@media (min-width: 320px) and (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
    }
    section .one {
        display: flex;
        flex-direction: column;
       
    }
    .hamburger {
        display: block;       
    }
    section .big {
        display: flex;
        flex-direction: column;
    }
    section.one img {
        display: flex;
        flex-direction: column;
        width: 205px;
        height: 255px;
    }
    section.one h1 {
        

     }
     section {
        display: flex;
        flex-direction: column;
        gap: 20px;

     }
     .big1 {
        margin-top: 2500px;
     }
}


    